@charset "UTF-8";
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slick_flex {
  position: relative;
  min-height: 0;
}

.slick_flex_slider.slick-slide {
  width: auto !important;
}

.slick_flex .slick-arrow {
  position: absolute;
  bottom: 130px;
  z-index: 5;
  font-size: 0;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.slick_flex .slick-arrow.slick-prev {
  left: 20px;
  background: url("../img/left.svg") center no-repeat;
  background-color: #202020;
}
@media only screen and (max-width: 600px) {
  .slick_flex .slick-arrow.slick-prev {
    left: 5px;
  }
}

.slick_flex .slick-arrow.slick-next {
  right: 20px;
  background: url("../img/right.svg") center no-repeat;
  background-color: #202020;
}
@media only screen and (max-width: 600px) {
  .slick_flex .slick-arrow.slick-next {
    right: 5px;
  }
}